* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 20px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.7);
    font-size: 1.5rem;
    color: #23dc62;
  }
  
  .nav-link {
    margin-right: 2rem;
    color: white;
    text-decoration: none;
    
  }
  .nav-link:hover {
    color: cyan;
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 800px)
      {
      #navbar {
      position: absolute;
        top: 0px;
        width: 100%;
        height: 2vh;
        padding: 25px 0px;
        display: flex;
        justify-content: space-between;
        z-index: 5;
      }}
  
  #welcome-section {
    width: 100%;
    height: 100vh;
    background-image:radial-gradient(farthest-corner at 40px 40px, #05425d 0%, #010707 30% 70%, #05425d 100%);
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    color: linen;
  }
  .heading {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    color: linen;
    border: 2px solid white;
                }
  h2 {
    font-size: 2.5rem;
    color: linen;
    font-weight: 100;
  }
  #skills {
    background-image: url("https://cdn.pixabay.com/photo/2015/12/10/18/58/background-1086840_960_720.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #45f5c6;
    font-size: 2rem;
    font-weight: 100;
  }
  .skills-header {
    padding: 1rem;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 1rem;
    border: 2px solid white;
  }
  .skills-display {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .skill-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  .skill-category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:rgba(0, 0, 0, 0.7);
    border-radius: 1rem;
    border: 2px solid white;
  }
  .skill-icon {
    margin-top: 1rem;
  }

  #projects {
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #010409;
  }
  img {
    height: 8rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 100;
    color: linen;
  }
  .portfolio-heading {
    color: linen;
    padding: 1rem;
    border: 2px solid linen;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2.5px linen;
  }
  .projects-grid {
    text-align: center;
    width: 100%;
    max-width: 1280px;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
  }
  .project-wrapper {
    color: white;
    font-size: 1.5rem;
  }
  .project-tile {
    height: 10rem;
    color: white;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2.5px linen;
    margin: 1rem 0rem;
  }
  .project-tile:hover {
    box-shadow: 0px 0px 20px 5px rgba(46,255,220,0.9);
    border: 2px solid black;
  }
  .source-code {
    color: white;
    text-decoration: none;
  }
  .source-code:hover {
    color: rgba(46,255,220,0.9);
    text-shadow: rgba(46,255,220,0.9) 0px 0px 16px;
  }
  .project-title {
    font-size: 1.5rem;
    text-decoration: none;
    color: linen;
  }
  #ECG-interpretation {
    background-image: url("./images/ECG-interpretation.png");
    background-size: cover;
  }
  #cryptocurrency-survey {
    background-image: url("./images/cryptocurrency-survey.png");
    background-size: cover;
  }
  #markdown-previewer {
    background-image: url("./images/markdown-previewer.png");
    background-size: cover;
  }
  #drum-machine {
    background-image: url("./images/drum-machine.png");
    background-size: cover;
  }
  #pomodoro-clock {
    background-image: url("./images/pomodoro-clock.png");
    background-size: cover;
  }
  #javascript-calculator {
    background-image: url("./images/javascript-calculator.png");
    background-size: cover;
  }

  #contact {
    width: 100%;
    height: 100vh;
    background-color: #010409;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
  }
  #contact-bar {
    display: flex;
  }
  .contact-link {
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.2rem;
    color: white;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 5px;
  }
  .contact-link:hover {
    box-shadow: 0px 0px 20px 5px rgba(46,255,220,0.9);
    background-color: rgba(46,255,220,0.9);
    color: black;
  }